#!/usr/bin/make -f

PATH := $(HOME)/.cargo/bin:$(PATH)
ROOTDIR := debian/epic-miner
CUDAROOTDIR := debian/epic-miner-cuda

.PHONY: clean
clean: debian/control build/rustup
	dh_clean
	cargo clean
	rm build -rf
	mkdir -p build

.ONESHELL:
build/epic-miner: build/rustup Cargo.toml config core cuckoo-miner debian etc features ocl_cuckaroo ocl_cuckatoo plugin progpow-miner progpow-rust randomx-miner randomx-rust src tests util
	mkdir -p build/epic-miner
	cd build/epic-miner
	cmake ../../progpow-rust/pp_full/lib -DETHASHCUDA=OFF -DETHASHCL=ON -DCMAKE_BUILD_TYPE=Release
	make

build/epic-miner-cuda: build/rustup Cargo.toml config core cuckoo-miner debian etc features ocl_cuckaroo ocl_cuckatoo plugin progpow-miner progpow-rust randomx-miner randomx-rust src tests util
	mkdir -p build/epic-miner-cuda
	cd build/epic-miner-cuda
	cmake ../../progpow-rust/pp_full/lib -DETHASHCUDA=ON -DETHASHCL=OFF -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_FLAGS="-I /opt/cuda/include -I /usr/local/cuda/include" -DCMAKE_CXX_FLAGS="-I /opt/cuda/include -I /usr/local/cuda/include"
	make

.PHONY: build build-arch build-indep
build build-arch build-indep: build/epic-miner build/epic-miner-cuda

.ONESHELL:
build/rustup:
	curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
	rustup default 1.35.0

.PHONY: epic-miner epic-miner-cuda
epic-miner: build/epic-miner
	dh_testroot
	dh_prep
	mkdir -p $(ROOTDIR)/var/log/epic/
	mkdir -p $(ROOTDIR)/usr/bin/
	mkdir -p $(ROOTDIR)/opt/epic-miner/
	cp debian/epic-miner.sh $(ROOTDIR)/usr/bin/epic-miner
	cp epic-miner.toml $(ROOTDIR)/opt/epic-miner/
	cargo build --release --features opencl
	cargo install --features opencl --path . --root $(ROOTDIR)/opt/epic-miner/
	cargo install --features opencl --path ocl_cuckaroo --root $(ROOTDIR)/opt/epic-miner/
	strip $(ROOTDIR)/opt/epic-miner/bin/epic-miner
	strip $(ROOTDIR)/opt/epic-miner/bin/ocl_cuckaroo
	mkdir -p $(ROOTDIR)/usr/lib/
	cp build/epic-miner/libexternal/libppow.so $(ROOTDIR)/usr/lib/libppow.so
	strip $(ROOTDIR)/usr/lib/libppow.so
	find target/release -iname libocl_cuckaroo.so -exec cp "{}" $(ROOTDIR)/usr/lib/libocl_cuckaroo.so \;
	strip $(ROOTDIR)/usr/lib/libocl_cuckaroo.so
	find target/release -iname libocl_cuckatoo.so -exec cp "{}" $(ROOTDIR)/usr/lib/libocl_cuckatoo.so \;
	strip $(ROOTDIR)/usr/lib/libocl_cuckatoo.so
	mkdir -p $(ROOTDIR)/opt/epic-miner/plugins/
	cp target/release/plugins/*.cuckooplugin $(ROOTDIR)/opt/epic-miner/plugins/
	dh_installdocs -p$@
	dh_installchangelogs -p$@
	dh_compress -p$@
	dh_fixperms -p$@
	dh_installdeb -p$@
	dh_gencontrol -p$@
	dh_md5sums -p$@
	dh_builddeb -p$@

epic-miner-cuda: build/epic-miner-cuda
	dh_testroot
	dh_prep
	mkdir -p $(CUDAROOTDIR)/var/log/epic/
	mkdir -p $(CUDAROOTDIR)/usr/bin/
	mkdir -p $(CUDAROOTDIR)/opt/epic-miner/lib/
	cp debian/epic-miner-cuda.sh $(CUDAROOTDIR)/usr/bin/epic-miner-cuda
	cp epic-miner.toml $(CUDAROOTDIR)/opt/epic-miner-cuda/
	cargo build --release --features cuda
	cargo install --features cuda --path . --root $(CUDAROOTDIR)/opt/epic-miner-cuda/
	strip $(CUDAROOTDIR)/opt/epic-miner-cuda/bin/epic-miner
	mkdir -p $(CUDAROOTDIR)/usr/lib/
	cp build/epic-miner-cuda/libexternal/libppow.so $(CUDAROOTDIR)/opt/epic-miner-cuda/lib/libppow.so
	strip $(CUDAROOTDIR)/opt/epic-miner-cuda/lib/libppow.so
	mkdir -p $(CUDAROOTDIR)/opt/epic-miner/plugins/
	cp target/release/plugins/*.cuckooplugin $(CUDAROOTDIR)/opt/epic-miner/plugins/
	dh_installdocs -p$@
	dh_installchangelogs -p$@
	dh_compress -p$@
	dh_fixperms -p$@
	dh_installdeb -p$@
	dh_gencontrol -p$@
	dh_md5sums -p$@
	dh_builddeb -p$@


.PHONY: binary binary-arch binary-indep
binary binary-arch binary-indep: debian/control build epic-miner epic-miner-cuda
